.calculator-container {
  background-color: var(--calculator-background-color);
  width: var(--calculator-width);
  margin: 10px;
  border-radius: 10px;
}

.container-keypad {
  display: inline-table;
}

.calc-history {
  float: right;
  width: 200px;
  margin: 10px;
  background-color: #636363;
  border-radius: 5px;
  margin-top: 6px;
  padding: 10px;
  box-shadow: 0px 5px 10px #444444 inset;
}

.main {
  display: flex;
  justify-content: space-around;
}

