/*
global variables
*/

:root {
  --action-key-color: #213747;
  --action-key-color-hover: #2a2a2a;
  --calculator-background-color: #29485f;
  --display-background-color: #b8b8b8;
  --number-key-color: #29485f;
  --number-key-color-hover: #2a2a2a;
  --submit-key-color: #ce3406;
  --submit-key-color-hover: #f73a00;

  /* font */
  --main-font: monospace;

  /* font colors */
  --display-text-color:black;
  --key-text-color: #d3d3d3;

  /* font sizes */
  --display-text-size: 4em;
  --key-text-size: 3em;

  /* font weights */
  --display-text-weight: 400;

  /* calculator dimensions */
  --calculator-height: 72%;
  --calculator-width: 20%;

  /* display dimensions */
  --display-height: 50px;
  --display-width: 92%;

  /* keypad dimensions */
  --keypad-height: 72%;
  --keypad-width: 96%;
}

@media screen and (max-width: 1024px) {
  :root {
    --display-text-size: 3em;
    --key-text-size: 3em;
    --calculator-height: 100%;
    --calculator-width: 95%;
  }
}

/*
app CSS reset  
*/

body,
div,
p {
  margin: 0;
  padding: 0;
}
