div {
 display: grid;
 grid-template-columns: repeat(
  auto-fill, /* auto-fill: Se va a comodar en esos 100px, auto-fit: se va a comodoar en el espacio disponible ( estira el contendio/ajustando hasta los limites)  */
  minmax(100px, 1fr) /* Como minimo tiene que ocupar 200px y si no utiliza 1fr que se ajustara al tamano */
 );
/* column-gap: 16px; separacion entre cada columna */
 gap: 16px; /* te hace una separacion tanto en filas como en columnas */
 max-width: 800px;
 margin: 0 auto;
}

img {
  border-radius: 8px;
  width: 100%;
  height: auto;
}

/* se puede hacer mucho mejor, Esto es un ejemplo
@media (width > 300px) {
  div {
     grid-template-columns: 1fr 1fr;
  }
}

@media (width > 600px) {
  div {
     grid-template-columns: 1fr 1fr 1fr;
  }
} */


