.display-container {
  background-color: var(--display-background-color);
  align-items: center;
  border: 4px solid var(--action-btn-color);
  display: flex;
  height: var(--display-height);
}

.display-value {
  color: var(--display-text-color);
  font-size: var(--display-text-size);
  font-family: var(--main-font);
  font-weight: var(--display-text-weight);
  margin-left: auto;
  overflow: hidden;
}
